.definition-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90.17deg, #402548 0.14%, #321C39 98.58%);
    box-shadow: 0px 10px 20px rgb(19 23 71 / 25%);
    margin-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    border-radius: 8px;
}

.purple-title {
    color: #402548;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 24px;
}